
.layout {
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paper {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
   
}
.responsive{
    width: 100%;
    height: auto;
    max-height: 400px;
    max-width: 400px;
}
.textolog{
    color:darkblue;
    display:block;
    font-size: 250%;
    
}
.avatar {
    margin: 10px;
    background: floralwhite;
}

.form {
    width: 100%;
    margin-top: 30px;
    

}

.submit {
    margin-Top: 20px;
    
    
    
}